.git/
.github/
.vscode/
.idea/
node_modules/
backend/vendor/
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
frontend/dist/
frontend/node_modules/
